@import "misc/mixins";
@import "../../node_modules/normalize-scss/sass/normalize/import-now";
@import "misc/env";
@import "misc/mixins";
@import "misc/adjustment";


//



.active {
    background: black;
}
.header__wrap {
    display: flex;
    margin-bottom: 10px;
}

.headerinfo__wrap {
    display: flex;
    list-style: none;
    color: $white;
}

.nav__wrap {
    display: flex;
    margin-top: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);

}

.nav__wrap-list {
    display: flex;
    list-style: none;
    color: $white;
    flex-direction: column;
}

.upper__nav {
    display: flex;
    list-style: none;
    padding-bottom: 32px;
    align-self: flex-end;
    align-items: center;
}

.upper__nav-item {
    margin-right: 42px;
}

.upper__nav-item--link {
    @include fontExo;
    font-size: 24px;
    color: $white;
    text-decoration: none;
    font-weight: 300;
    position: relative;

    &::after {
    content: '';
    position: absolute;
    background-size: cover;
    width: 28px;
    height: 28px;
    left: -25%;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../img/call.png);
    }
}

.upper__nav-item--btn {
    background-color: $whiteBlue;
    border-radius: 30px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 12px;
    @include fontExo;
    font-weight: 400;
    color: $white;
    padding: 11px 26px;
}

.bottom__nav {
    display: flex;
    list-style: none;
    padding: 0;
}

.bottom__nav-item {
    padding: 29px 23px;

    &:nth-child(1) {
        border-top: 4px solid $whiteBlue;
	    background-color:  rgba(0, 0, 0, 0.2);
    }

    &:hover{
        border-top: 4px solid $whiteBlue;
	    background-color:  rgba(0, 0, 0, 0.2);
    }
}

.bottom__nav-item--link {
    text-decoration: none;
    color: $white;
    @include fontExo;
    font-size: 20px;
    font-weight: 300;
    position: relative; 
}

.bottom__nav-item--img {
    padding-left: 5px;
}


.maintitle {
    font-size: 72px;
    font-weight: 900;
    color: $white;
    margin: 0 0 56px 0;
}

.hero__subtitle {
    font-size: 36px;
    color: #fffefe;
    font-weight: 300;
    line-height: 50px;
    text-align: center;
    width: 900px;
    @include fontExo;
    text-transform: uppercase;
}





.hero__wrap {
    background: url(../img/top.jpg) center center no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

.hero__list {
    display: flex;
    list-style: none;
    position: absolute;
    bottom: -50%;
    justify-content: center;

}

.hero__item {
    width: 582px;
    height: 453px;
    border: 10px solid $white;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;

    &:nth-child(1) {
        background: url(../img/develop.jpeg);
    }

    &:nth-child(2) {
        background: url(../img/services.jpg);
    }
    
}

.hero__item-title {
    color: $white;
    font-size: 36px;
    @include fontExo;
    font-weight: 700;
    text-transform: uppercase;
    padding: 80px 0 42px 0;
    margin: 0;
    position: relative;

    &::before {
        content: '';
        border-right: 2px solid $whiteBlue;
        position: absolute;
        height: 20px;
        right: 50%;
        top: 30%;
    }
}

.hero__item-descr {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    color: $cardColor;
    flex-grow: 1;
    @include fontExo;
    margin: 0 25px 40px 25px;
    
}

.hero__item-btn {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
    
}
// 
// 
// advantages
// 
// 


.advantages__wrap {
    background: url(../img/scheme.png) center center no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages__subtitle {
    padding-top: 200px;
    font-size: 18px;
    font-weight: 300;
    color: $semiBlue;
    text-transform: uppercase;
    @include fontExo;   
    margin: 0;
}

.advantages__title {
    text-transform: uppercase;
    font-weight: bold;
    @include fontExo;
    font-size: 48px;
    color: $whiteBlue;
    position: relative;
    margin: 100px 0 25px 0;

    &::before {
        content: '';
        border-right: 2px solid $whiteBlue;
        position: absolute;
        height: 20px;
        right: 50%;
        top: -50%;
    }
}

.advantages__descr {
    width: 950px;
    text-align: center;
    font-size: 18px;
    @include fontExo;
    line-height: 30px;
    font-weight: 400;
    color: $semiGrey;
    margin: 0 0 80px 0;
}

.advantages__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.advantages__list-item {
    width: 400px;
    position: relative;
   
   &:nth-child(odd) {
        margin-right: 116px;
   }

   &:nth-child(1)  {
       margin-bottom: 86px;
   }

   &:nth-child(1)::before {
    content: '';
    position: absolute;
    background-size: cover;
    width: 100px;
    height: 100px;
    left: -30%;
    top: 14%;
    transform: translateY(-50%);
    background-image: url(../img/build.png);
   }

    &:nth-child(2)::before {
        content: '';
        position: absolute;
        background-size: cover;
        width: 100px;
        height: 100px;
        left: -30%;
        top: 14%;
        transform: translateY(-50%);
        background-image: url(../img/brain.png);
    }

    &:nth-child(3)::before {
        content: '';
        position: absolute;
        background-size: cover;
        width: 100px;
        height: 100px;
        left: -30%;
        top: 14%;
        transform: translateY(-50%);
        background-image: url(../img/process.jpg);
    }

    &:nth-child(4)::before {
        content: '';
        position: absolute;
        background-size: cover;
        width: 100px;
        height: 100px;
        left: -30%;
        top: 14%;
        transform: translateY(-50%);
        background-image: url(../img/mech.jpg);
    }

    
   
}

.advantages__list-item--title {
    font-size: 24px;
    color: $whiteBlue;
    @include fontExo;
    font-weight: 900;
    width: 145px;
    margin: 0 0  35px 0;
    text-transform: uppercase;
    position: relative;

}

.advantages__list-item--descr {
    font-size: 16px;
    width: 380px;
    color: $colorNero;
    @include fontExo;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
}


// 
// 
// end advantages
// 
// 

// 
// 
// manufacture
// 
// 

.manufacture__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../img/100per.jpg) center center;
    padding: 60px 0;
    width: 100%;
}

.manufacture__title {
    font-size: 72px;
    font-weight: 800;
    color: $white;
    margin: 0 0 36px 0;
    position: relative;

    &::after {
        content: '';
        border-bottom: 2px solid $whiteBlue;
        display: inline-block;
        position: absolute;
        width: 22px;
        right: -20%;
        top: 50%;
        transform: translateY(-50%);
    }

    &::before {
        content: '';
        border-bottom: 2px solid $whiteBlue;
        display: inline-block;
        position: absolute;
        width: 22px;
        left: -20%;
        top: 50%;
        transform: translateY(-50%);
    }
    
}

.manufacture__subtitle {
    color: $white;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    font-size: 36px;
    margin: 0 0 57px 0;
}



// 
// 
// end manufacture
// 
// 


// 
// 
// slider
// 
// 

.intro__slider {
    position: relative;
    text-align: center;
    padding: 0;
    margin: 0; }
    .intro__slider {
        position: relative;
        text-align: center;
        padding: 0;
        margin: 0; }
      
      @media screen and (max-width: 1024px) {
        .slick-dotted.slick-slider {
          margin-bottom: 0; } }
      
      .intro__slide {
        position: relative;
        z-index: 1;
        -webkit-border-radius: 6px;
                border-radius: 6px; }
      
      .intro__img {
        display: block;
        width: 100%;
        height: auto;
        -webkit-border-radius: 20px;
                border-radius: 20px;
        -webkit-filter: blur(4px) opacity(50%);
                filter: blur(4px) opacity(50%); }
      
      .prev,
      .next {
        z-index: 3;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        width: 42px;
        height: 42px;
        margin: 0;
        cursor: pointer;
        color: #fff;
        border: 1px solid rgba(255, 255, 255, 0.35);
        -webkit-border-radius: 50%;
                border-radius: 50%; }
      
      .slick-disabled {
        color: rgba(255, 255, 255, 0.35); }
      
      .prev {
        left: 70px; }
        @media screen and (max-width: 768px) {
          .prev {
            display: none;
            visibility: hidden; } }
      
      .next {
        right: 70px; }
        @media screen and (max-width: 768px) {
          .next {
            display: none;
            visibility: hidden; } }
      
      .slick-dots {
        bottom: 30px; }
        @media screen and (max-width: 768px) {
          .slick-dots {
            bottom: 20px; } }
        @media screen and (max-width: 612px) {
          .slick-dots {
            bottom: 10px; } }
        .slick-dots li {
          width: 9px;
          height: 9px;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          border: none;
          border: 2px solid transparent;
          background-color: rgba(255, 255, 255, 0.35); }
        .slick-dots .slick-active {
          width: 9px;
          height: 9px;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          border: 2px solid #fff; }
// 
// 
// end slider
// 
// 


// 
// 
// feedback
// 
// 





.feedback__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    background: url(../img/feedback.jpg)
 
}

.feedback__title {
    color: $white;
    margin: 0 0 30px 0;
}

.feedback-subtitle {
    margin: 0 0 37px 0;
}

.feedback__form {
    display: flex;
}


.feedback__form-input {
    padding: 24px 80px 25px 30px; 
    margin-right: 20px;
    border: 2px solid $whiteBlue;
    border-radius: 30px;
    outline: none;
    width: 302px;
    height: 62px;
    background: transparent;
    @include fontLato;
    font-size: 18px;
    font-weight: 300;
    line-height: 36px;
    color: $colorPlaceholder;

    @include placeholder {
        color: $colorPlaceholder;
        @include fontLato;
        font-size: 18px;
        font-weight: 300;
        line-height: 36px;
    }
}

.feedback__form-btn {
    text-transform: uppercase;
    border: none;
    background-color: $whiteBlue;
    color: $white;
    padding: 25px 75px;
    border-radius: 30px;
    font-size: 18px;
    @include fontExo;
    font-weight: 400;
}

// 
// 
// end feedback
// 
// 

// 
// 
// contacts
// 
// 



.contacts__wrap {
    background-color: $whiteBlue;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Exo 2', sans-serif;
    color: $white;
}



.contacts__title {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.contacts-subtitle {
    margin: 0 0 66px 0;
    
}


.adress__list {
    padding: 0;
    list-style: none;
    display: flex;
}

.adress__list-item {
    width: 200px;
    position: relative;
  
    
    &:not(:last-child) {
        margin-right: 110px;
    }    

    &:nth-child(1)::before{
        content: '';
        background-image: url(../img/location.png);
        position: absolute;
        background-size: cover;
        width: 80px;
        height: 80px;
        left: -50%;
        top: 100%;
        transform: translateY(-50%);
        display: block;
    }

    &:nth-child(2)::before{
        content: '';
        background-image: url(../img/tel.png);
        position: absolute;
        background-size: cover;
        width: 80px;
        height: 80px;
        left: -50%;
        top: 100%;
        transform: translateY(-50%);
    }

    &:nth-child(3)::before{
        content: '';
        background-image: url(../img/mail.png);
        position: absolute;
        background-size: cover;
        width: 80px;
        height: 80px;
        left: -50%;
        top: 100%;
        transform: translateY(-50%);
       
    }
}

.adress__list-item--descr {
    position: absolute;
}

.adress_list-item--link {
    text-decoration: none;
    color: $white;
}

// 
// 
// end contacts
// 
// 



#map {
    width: 100%;
    height: 498px;
}

// 
// 
// footer
// 
// 



.footer__wrap {
    display: flex;
    justify-content: space-around;
    background-color: $semiBlue;
    color: $white;
    @include fontSans;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.05px;
    padding: 35px 0 35px 0;
}


.footer__develop {
    text-decoration: none;
    color: $white;
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;

}

.footer__developer-descr {
    margin: 0;
    padding: 0;
    color: $white;
    font-size: 14px;
    margin-right: 12px;
}

.footer__developer-img {
    width: 119px;
    height: 40px;
}