@import "misc/mixins";
@import "../../node_modules/normalize-scss/sass/normalize/import-now";
@import "misc/env";
@import "misc/mixins";
@import "misc/adjustment";


//



#map {
    width: 100%;
    height: 498px;
}


// 
// 
// contacts
// 
// 



.contacts__wrap {
    background-color: $whiteBlue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 100px 0;
    font-family: 'Exo 2', sans-serif;
    color: $white;
}

.contacts__title {
    margin-bottom: 30px;
    font-weight: 200;
}

.contacts__subtitle {
    margin: 0;
}

.contacts__title {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.contacts__subtitle {
    margin-bottom: 66px;
    font-size: 18px;
    font-weight: 400;
}


.adress__list {
    padding: 0;
    list-style: none;
    display: flex;
}

.adress__list-item {
    width: 200px;
    position: relative;
  
    
    &:not(:last-child) {
        margin-right: 110px;
    }    

    &:nth-child(1)::before{
        background-image: url(../img/location.png);
        position: absolute;
        background-size: 10px 10px;
        background-color: black;
        width: 25px;
        height: 25px;
        position: absolute;
        
        left: -50%;
        top: 50%;
        transform: translateY(-50%);
        margin-right: 50px;
    }

    &:nth-child(2)::before{
        content: url(../img/tel.png);
        position: absolute;
        left: -50%;
        top: 50%;
        transform: translateY(-50%);
        margin-right: 50px;
    }

    &:nth-child(3)::before{
        content: url(../img/mail.png);
        position: absolute;
        left: -50%;
        top: 50%;
        transform: translateY(-50%);
        margin-right: 50px;
    }
}

.adress_list-item--link {
    text-decoration: none;
    color: $white;
}

// 
// 
// end contacts
// 
// 


// 
// 
// footer
// 
// 



.footer__wrap {
    display: flex;
    justify-content: space-around;
    background-color: $semiBlue;
    color: $white;
    @include fontSans;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.05px;
    padding: 35px 0 35px 0;
}


.footer__company {
    @include fontMitrExtraLight;
}

.footer__develop {
    text-decoration: none;
    color: $white;
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;

}

.footer__developer-descr {
    margin: 0;
    padding: 0;
    color: $white;
    font-size: 14px;
    margin-right: 12px;
}

.footer__developer-img {
    width: 119px;
    height: 40px;
}