@import "misc/mixins";
@import "../../node_modules/normalize-scss/sass/normalize/import-now";
@import "misc/env";
@import "misc/mixins";
@import "misc/adjustment";





    .menu-btn {
        background-color: $whiteBlue;
        border-radius: 30px;
        border: none;
        outline: none;
        text-transform: uppercase;
        font-size: 12px;
        @include fontExo;
        font-weight: 400;
        color: $white;
        padding: 11px 26px;
        display: none;

        &:hover {
            color: $semiBlue;
        }
    
       
        
        @include extraMedium {
            display: block;
        }

        @include medium {
            order: 4;
            display: block;
        }

        @include small {
            width: 30px;
            height: 30px;
            padding: 10px;
            display: block;
            position: relative;
            border-radius: 50%;
        }
    }

    .menu-name {
        display: none;
        
        @include extraMedium {
            display: block;
        }

        @include medium {
            display: block;
        }

        @include small {
            display: none;
        }
    }

    .menu-img {
        display: none;
        position: absolute;
        top: 0;
        left: 0%;
       
        
       
        @include small {
            display: block;
        }
    }

    






.header {
   width: 100%;
   display: flex;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 99;
   flex-direction: column;
   align-items: center;
   


  @include medium {
      display: flex;

      &::after {
          content: '';
          border-bottom: 1px solid  rgba(0, 0, 0, 0.7);
          position: absolute;
          bottom: 0%;
        
          right: 7%;
          width: 84%;
          ;
        }
       
        
  }

  @include small {
    width: 100%;
  }

}

.headerinfo__wrap {
    display: flex;
    list-style: none;
    color: $white;
}

.nav__wrap {
    display: flex;
    margin-top: 30px;
    align-items: center;
   

    @include medium {
        border: none;
        flex-direction: row;
        justify-content: space-between;
    }
}

.nav__wrap-list {
    display: flex;
    list-style: none;
    color: $white;
    flex-direction: column;
    padding: 0;
    margin: 0;


    @include medium {
       width: 100%;
    }

    @include small {
        position: relative;
        top: -19px;
    }
}

.upper__nav {
    display: flex;
    list-style: none;
    padding-bottom: 32px;
    align-self: flex-end;
    align-items: center;

    @include medium {
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        width: 381px;
        top: 0;
        left: 50%;
    }

    @media screen and (max-width: 650px){ 
        padding: 0;
        position: relative;
    
       
        width: 249px;
        top: 30%;
  
    }

    @media screen and (max-width: 500px){ 
        padding: 0;
        position: relative;
    
       
        width: 240px;
        top: 30%;
        left: 30%;
  
    }

    @include small {
        padding: 0;
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        width: 201px;
        top: 30%;
        left: 30%;
    }
}

.logo__wrap {
    @include medium {
        position: absolute;
        top: 20px;
        left: 60px;
        margin: 0 40px 20px 0px;
    }

    @media screen and (max-width: 650px){ 
        top: 20px;
        left: 20px;
    }
    @include small {
        top: 20px;
        left: 20px;
    }
}

.logo__link-img {

    @media screen and (max-width: 650px){ 
        width: 100px;
        height: 70px;
    }
    
    @include small {
        width: 75px;
        height: 55px;
    }
}

.upper__nav-item {
    margin-right: 42px;
    position: relative;
    padding-bottom: 20px;


    &:nth-child(4) {
        @include medium {
          order: 4;
        }
    }
    &:nth-child(3) {
        @include medium {
          order: 1;
        }
    }
    &:nth-child(2) {
        @include medium {
          order: 2;
        }
    }

    @media screen and (max-width: 650px){ 
        margin-right: 5px;
        position: relative;
        padding-bottom: 5px;
    }
    
    @include small {
    margin-right: 5px;
    position: relative;
    padding-bottom: 5px;

    }
}

.upper__nav-item--link {
    @include fontExo;
    font-size: 24px;
    color: $white;
    text-decoration: none;
    font-weight: 300;
    position: relative;

    &::after {
    content: '';
    position: absolute;
    background-size: cover;
    width: 28px;
    height: 28px;
    left: -25%;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../img/call.png);

    @media screen and (max-width: 650px){ 
        display: none;
    }

    @include small {
        display: none;
    }
    }

    :hover {
        color: $whiteBlue;
    }

    @media screen and (max-width: 650px){ 
        font-size: 14px;
    }

    @include small {
        font-size: 14px;
    }
}

.upper__nav-item--btn {
    background-color: $whiteBlue;
    border-radius: 30px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 12px;
    @include fontExo;
    font-weight: 400;
    color: $white;
    padding: 11px 26px;

    &:hover {
        color: $semiBlue;
    }

    @include medium {
        order: 4;
    }


    @media screen and (max-width: 650px){ 
        padding: 11px 11px;
    }

    @include small {
        padding: 11px 11px;

    }
}

.dropbtn {
    padding: 5px;
    cursor: pointer;
}


.dropdown {
    position: relative;
    display: inline-block;
    @include fontExo;
    font-weight: 700;
    font-size: 16px;
    color: $white;  

    @include medium {
        order: 3;
        flex: 1;
    }
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
}

.dropbtn
{
  background: url('../img/ru.png') no-repeat left center;
  padding-left: 25px;
  width: 40px;
}

.dropbtn::after {
    background: url('../img/check.png') no-repeat right center;
    content: "";
    height: 7px;
    position: absolute;
    right: -60%;
    bottom: 35%;
    width: 12px;
}

.dropdown-content a:first-child
{
  background:  url('../img/ru.png') no-repeat left center;
}

.dropdown-content a {
    @include fontExo;
    font-weight: 700;
    font-size: 16px;
    color: $white;  
    padding: 2px 0 2px 25px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: $semiGrey
}
.dropdown:hover .dropdown-content {
    display: block;
}



.upper__nav-item--lang---active {
    @include fontExo;
    font-weight: 700;
    font-size: 16px;
    color: $white;  
    position: relative;
    
    &::before {
    content: '';
    position: absolute;
    background-size: cover;
    width: 17px;
    height: 11px;
    left: -30%;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../img/ru.png);
    }

    &::after {
        content: '';
        position: absolute;
        background-size: cover;
        width: 12px;
        height: 7px;
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../img/check.png);
        }
    }


.bottom__nav {
    display: flex;
    list-style: none;
    padding: 0;

    @include extraMedium {
      
        display: none;
        background-color: $whiteBlue;
        
    }

    @include medium {
        
        display: none;
        background-color: $whiteBlue;
     
    }

    @include small {
        
        display: none;
        background-color: $whiteBlue;
    
    }

    
}

.bottom__nav-item {
    padding: 29px 23px;
    position: relative;


    &::before {
        content: "";
        display: none;
        position: absolute;
        border: 2px solid $whiteBlue;
        width: 97%;
        left: 0%;
        top: 0;
    }

    &:hover {
        background-color:  rgba(0, 0, 0, 0.2);
        cursor: pointer;
       
    }
    

    &:hover::before {
            display: block;
            cursor: pointer;
        

       
        }
    @include extraMedium {
        padding: 0;
        text-align: center;
        &:hover {
            background-color:  rgba(0, 0, 0, 0.2);
            cursor: pointer;
           
        }

    }
        @include medium {
           padding: 0;
           text-align: center;

           &:hover {
            background-color:  rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }
    
        }
}


.bottom__nav-item--link {
    text-decoration: none;
    color: $white;
    @include fontExo;
    font-size: 20px;
    font-weight: 300;
    position: relative; 

    
}

.bottom__nav-item--img {
    padding-left: 5px;
}


.maintitle {
    font-size: 72px;
    font-weight: 900;
    color: $white;
    margin: 60px 0 56px 0;
    width: 100%;
    text-align: center;

    @include small {
        font-size: 30px;
        margin: 0 0 40px 0;
    }
}

.hero__subtitle {
    font-size: 36px;
    color: #fffefe;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    width: 900px;
    @include fontExo;
    text-transform: uppercase;
    margin-bottom: 80px;
    text-align: center;

    @include extraMedium {
        font-size: 30px;
    }

    @include medium {
        font-size: 30px;
        padding: 0 119px;
        
    }

    @media screen and (max-width: 500px){
        width: 100%;
        font-size: 18px;
        line-height: 30px;
        padding: 0 20px;
    }

    @include small {
        width: 100%;
        font-size: 18px;
        line-height: 30px;
        padding: 0 20px;
    }
}





.hero {
    background: url(../img/top.jpg) center center no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    padding-top: 140px;
    background-size: cover;
  

    @include medium {
        width: 100%;
      }
    
      @include small {
      
        width: 100%;
      }
}

.hero__list {
    margin-top: 40px;
    display: flex;
    list-style: none;
    position: relative;
    padding: 0;
    top: 150px;
    justify-content: center;
    width: 100%;
    padding: 0 10px;

    @include medium {
        margin: 0;
        top: 86px;
        padding: 0 10px;
    }

    @media screen and (max-width: 662px) {
        flex-direction: column;
        align-items: center;
        padding: 0;
        height: 100%;
    }
    
}

    .hero__item {
        width: 680px;
        height: 453px;
        border: 10px solid rgba(2,150,234,0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: baseline;
        padding-bottom: 50px;
        background: black;
        z-index: 2;
        position: relative;

        &:nth-child(1) {
            margin-right: 10px;
        }
        
        @media screen and (max-width: 1200px){
            width: 459px;
        }
        
        @include extraMedium {
            width: 359px;
        }

        @media screen and (max-width: 662px) {
            margin: 0;
            width: 100%;
        }

        @include medium {
            margin: 0;
            width: 100%;
        }

        @include small {
            margin: 0;
        }
    
       


        &:nth-child(1) {
            background-image: url(../img/develop.jpeg);
            z-index: 99;

            @include medium {
                margin-right: 20px;
            }

            @media screen and (max-width: 662px) {
                margin: 0 0 10px 0;
            }
    
            @include small {
                margin: 0 0 10px 0;
            }
            
        }

        &:nth-child(2) {
            background-image: url(../img/services.jpg);
        }

        &::before {
            display: none;
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            background-color:  rgba(2, 150, 234, 0.5);
        }

        &:hover::before {
            display: block;
            }
}


.hero__item:hover {
    border: 10px solid $white;
}

.hero__item:hover .hero__item-title::before {
    border-right: 2px solid $white;
    transition: all 2ms ease-in-out;
}





.hero__item-title {
    color: $white;
    font-size: 36px;
    @include fontExo;
    font-weight: 700;
    text-transform: uppercase;
    padding: 80px 0 42px 0;
    margin: 0;
    position: relative;

    &::before {
        content: '';
        border-right: 2px solid $whiteBlue;
        position: absolute;
        height: 20px;
        right: 50%;
        top: 30%;

        @media screen and (max-width: 1200px){
            top: 20%;
        }
        
        @include extraMedium {
              top: 20%;
        }
    }


    @media screen and (max-width: 1200px){
        padding: 80px 0 42px 0;
    }
    
    @include extraMedium {
        padding: 50px 0 22px 0;
    }
    
}

.hero__item-descr {
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    color: $cardColor;
    flex-grow: 1;
    @include fontExo;
    margin: 0 25px 40px 25px;

    @media screen and (max-width: 1200px){
        margin: 0 25px 20px 25px;
    }
    
    @include extraMedium {
        margin: 0 25px 10px 25px;
    }

    @include medium {
        margin: 0 25px 0px 25px;
    }
}

.hero__item-btn {
    margin: 0 auto;
    text-align: center;
    
   
    
}
// 
// 
// advantages
// 
// 


.advantages {
    background: url(../img/scheme.png) center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 0 100px 0;

    @include medium {
        padding: 200px 0 0;
    }

    @include small {
        padding: 200px 0 0;
    }
}

.advantages__subtitle {
    
    font-size: 18px;
    font-weight: 300;
    color: $semiBlue;
    text-transform: uppercase;
    @include fontExo;   
    margin: 0; 
    width: 100%;
    text-align: center;

    @include small {
        display: none;
    }
}


.advantages__title {
    text-transform: uppercase;
    font-weight: bold;
    @include fontExo;
    font-size: 48px;
    color: $whiteBlue;
    position: relative;
    margin: 100px 0 25px 0;
    text-align: center;
    width: 100%;

    &::before {
        content: '';
        border-right: 2px solid $whiteBlue;
        position: absolute;
        height: 20px;
        right: 50%;
        top: -50%;

        @include medium {
            content: '';
            border-right: 2px solid $whiteBlue;
            position: absolute;
            height: 20px;
            right: 50%;
            top: -120%;
        }

        @include medium {
            content: '';
            border-right: 2px solid $whiteBlue;
            position: absolute;
            height: 20px;
            right: 50%;
            top: -70%;
        }
    }

    @include medium{
        font-size: 36px;
        font-weight: 700;
    }

    @include small {
        font-size: 30px;
        margin: 100px 0 10px 0;
       
    }
   
}

.advantages__descr {
    width: 950px;
    text-align: center;
    font-size: 18px;
    @include fontExo;
    line-height: 30px;
    font-weight: 400;
    color: $semiGrey;
    padding: 0 100px;
    margin: 0 0 80px 0;

    @include medium {
        width: 100%;
        margin: 0 0 50px 0;
        font-size: 16px;
        padding: 0 120px 0 120px;
    }

    @media screen and (max-width: 500px) {
        width: 100%;
        margin: 0 0 50px 0;
        font-size: 16px;
        padding: 0 50px 0px 50px;
    }

    @media screen and (max-width: 560px) {
        width: 100%;
        font-size: 14px;
        margin: 0 0 30px 0;
        padding: 0 40px 70px 40px;
    }

    @include small {
        width: 100%;
        font-size: 14px;
        margin: 0 0 30px 0;
        padding: 0 20px 70px 20px;
    }
}



.advantages__list {
    width: 1200px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 0 130px;

    @include large {
        width: 100%;
        padding: 0 0 0 130px;
    }

    @include extraMedium {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0 40px 0 40px;
        
    }

    @include medium {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0 0px 0 130px;
    }

    

    @media screen and (max-width: 560px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0 0 0 0;
        margin-bottom: -40px;
    }

    @media screen and (max-width: 451px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0 0 0 0;
        margin-bottom: -40px;
    } 
    @include small {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0 0 0 0;
        margin-bottom: -40px;
    }
}

.advantages__list-item {
    width: 400px;
    position: relative;
   
   &:nth-child(odd) {
        margin-right: 116px;

        @include large {
           
            margin-right: 116px;
        }

        @include extraMedium {
      
            margin-right: 0;
        }

        @include medium {
           
            margin-right: 0;
        }

        @include small {
            width: 100%;
            margin-right: 0;
        }
   }

   @include extraMedium {
    margin-bottom: 100px;
    width: 500px;
   }

   @include medium {
       margin-bottom: 100px;
       width: 500px;
   }

   @include small {
       width: 100%;
       margin-bottom: 100px;
   }

   &:nth-child(1)  {
       margin-bottom: 86px;

       @include medium {
           margin-bottom:86px;
       }

       @include small {
           margin-bottom: 100px;
       }
   }

   &:nth-child(1)::before {
    content: '';
    position: absolute;
    background-size: cover;
    width: 100px;
    height: 100px;
    left: -30%;
    top: 14%;
    transform: translateY(-50%);
    background-image: url(../img/build.png);
    
    
    
    @include medium {
        left: -20%;
        top: 12%;
    }
    
    @media screen and (max-width: 560px) {
        width: 80px;
        height: 80px;
        left: 40%;
        top: -50px;
    }

    @include small {
        width: 80px;
        height: 80px;
        left: 35%;
        top: -50px;
    }
}

    &:nth-child(2)::before {
        content: '';
        position: absolute;
        background-size: cover;
        width: 100px;
        height: 100px;
        left: -30%;
        top: 14%;
        transform: translateY(-50%);
        background-image: url(../img/brain.png);
        @include medium {
            left: -20%;
            top: 12%;
        }


        @media screen and (max-width: 560px) {
            width: 80px;
            height: 80px;
            left: 40%;
            top: -50px;
        }

        @include small {
            width: 80px;
            height: 80px;
            left: 35%;
            top: -50px;
        }
    }

    &:nth-child(3)::before {
        content: '';
        position: absolute;
        background-size: cover;
        width: 100px;
        height: 100px;
        left: -30%;
        top: 14%;
        transform: translateY(-50%);
        background-image: url(../img/process.jpg);
        @include medium {
            left: -20%;
            top: 12%;
        }

        @media screen and (max-width: 560px) {
            width: 80px;
            height: 80px;
            left: 40%;
            top: -50px;
        }
        
        @include small {
            width: 80px;
            height: 80px;
            left: 35%;
            top: -50px;
        }
    }

    &:nth-child(4)::before {
        content: '';
        position: absolute;
        background-size: cover;
        width: 100px;
        height: 100px;
        left: -30%;
        top: 14%;
        transform: translateY(-50%);
        background-image: url(../img/mech.jpg);
        @include medium {
            left: -20%;
            top: 12%;
        }

        @media screen and (max-width: 560px) {
            width: 80px;
            height: 80px;
            left: 40%;
            top: -50px;
        }

        @include small {
            width: 80px;
            height: 80px;
            left: 35%;
            top: -50px;
        }
    }

   
}

.advantages__list-item--title {
    font-size: 24px;
    color: $whiteBlue;
    @include fontExo;
    font-weight: 900;
    width: 140px;
    margin: 0 0  35px 0;
    text-transform: uppercase;
    position: relative;

   
    

    &:hover {
        color: $semiBlue;
        transition: all 1s ease-in-out;
    }

    &:active {
        @include medium {
        color: $semiBlue;
        }
    }

    @include medium {
        width: 100%;
        margin: 0 0 35px 0;
        padding: 0 30px 0 30px;
    }

    @media screen and (max-width: 560px) {
        width: 100%;
        text-align: center;
        padding: 0 25px 0 25px;
        margin: 0 0 25px 0; 
       }

       @media screen and (max-width: 451px) {
       width: 100%;
       
       padding: 0 0px 0 0px;
       margin: 0 0 25px 0; 
    }
    

    @include small {
        
        width: 100%;
        text-align: center;
        padding: 0 25px 0 25px;
        margin: 0 0 25px 0; 
    }
}





.advantages__list-item--descr {
    font-size: 16px;
    width: 380px;
    color: $colorNero;
    @include fontExo;
    font-weight: 400;
    line-height: 28px;
    margin: 0;


    @include medium {
        padding: 0 30px 0 30px;
        width: 100%; 
        
    }

    @media screen and (max-width: 560px) {
        font-size: 14px;
        width: 100%;
        padding: 0 100px 25px;
        text-align: center;
        line-height: 24px;
    }


    @include small {
        font-size: 14px;
        width: 100%;
        padding: 0 50px 25px;
        text-align: center;
        line-height: 24px;
        
    }
}


// 
// 
// end advantages
// 
// 

// 
// 
// manufacture
// 
// 

.manufacture {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../img/100per.jpg) center center;
    background-size: cover;
    padding: 60px 0;
    width: 100%;


    @include small {
        padding: 60px 0;
    }
}

.manufacture__title {
    font-size: 72px;
    font-weight: 800;
    color: $white;
    margin: 0 0 36px 0;
    position: relative;

    &::after {
        content: '';
        border-bottom: 2px solid $whiteBlue;
        display: inline-block;
        position: absolute;
        width: 22px;
        right: -20%;
        top: 50%;
        transform: translateY(-50%);
    }

    &::before {
        content: '';
        border-bottom: 2px solid $whiteBlue;
        display: inline-block;
        position: absolute;
        width: 22px;
        left: -20%;
        top: 50%;
        transform: translateY(-50%);
    }
    
}

.manufacture__subtitle {
    color: $white;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    font-size: 36px;
    margin: 0 0 57px 0;
    text-align: center;

    @include small {
        font-size: 30px;
        line-height: 40px;
        margin: 0 0 48px 0;
    }
}

.manufacture__btn {
    
    transition: all 5ms ease-in-out;
}




// 
// 
// end manufacture
// 
// 


// 
// 
// slider
// 
// 
.slider {
    padding: 70px 0 100px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../img/scheme-bottom.png');
    background-size: cover;
    
    @include medium {
    
        padding: 50px 0 70px 0;
    }

    @include small {
     
        padding: 40px 0 30px 0;
    }
}

.slider__title {
    font-size: 48px;
    font-weight: 700;
    color: $whiteBlue;
    text-transform: uppercase;
    @include fontExo;   
    margin: 0;
    position: relative;
    padding: 30px 0;
    text-align: center;

    &::before {
    content: '';
    border-right: 2px solid #0296ea;
    position: absolute;
    height: 20px;
    right: 50%;
    top: 0%;
    }

    @include small {
        font-size: 36px;
    }
}

.slider__descr {
    width: 100%;
    text-align: center;
    font-size: 18px;
    @include fontExo;
    line-height: 30px;
    font-weight: 400;
    color: $semiGrey;
    margin: 0 0 80px 0;
    text-align: center;


    @include medium {
        padding: 0 34px 0 34px;
    
    }

    @include small {
        font-size: 24px;
        margin: 0 34px 37px 34px;
    }

}

.slider__wrap {
    position: relative;
    width: 1200px;

    @include large {
        width: 800px;
    }

    @include medium {
        width: 580px;
    }

    @media screen and (max-width: 580px){
        width: 300px;
        padding: 0px 10px 0 10px;
    }

    @include small {
        width: 100%;
        padding: 0px 10px 0 10px;
    }
}

.intro__slider  {
    
    display: flex;
    position: relative;
    padding-bottom: 30px;
    width: 100%;

   
}

.sld {
    width: 220px;
    height: 120px;
    margin-right: 10px;

    @include medium {
        width: 180;
        margin-right: 5px;
    }

    @include small {
        margin-right: 5px;
        width: 40px;
    }
}


.prev, .next {
    height: 14px;
    width: 8px;
    position: absolute;
    z-index: 2;
    top: 40%;
    transform: translateY(-50%);
    color: $whiteBlue;

    @include medium {
        top: 35%;
    }
    

}

.prev{
    
    left: -2%;

    @include large {
        left: -5%;
    }

    @include medium {
        left: -4%;
    }

    @include small {
        display: none;
    }


}                                                                      

.next {
    right: 0%;

    @include medium {
        right: -3%;
    }

    @include small {
        right: -100%;
    }
}      

.sld--img {
    width: 100%;
}

// 
// 
// end slider
// 
// 


// 
// 
// feedback
// 
// 





.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    background: url(../img/feedback.jpg) center center;
    background-size: cover;
    width: 100%;
    padding: 80px 0 80px 0;
 
}

.feedback__title {
    color: $white;
    margin: 0 0 30px 0;
    text-align: center;

}

.feedback-subtitle {
    margin: 0 0 37px 0;
    text-align: center;
    
    @include medium {
        margin: 0 50px 37px 50px;
    }
}

.feedback__form {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;

    @include medium {
        flex-direction: column;
        align-items: center;
    }

    @include small {
        flex-direction: column;
        align-items: center;
    }
}


.feedback__form-input {
    padding: 24px 80px 25px 30px; 
    margin-right: 20px;
    border: 2px solid $whiteBlue;
    border-radius: 30px;
    outline: none;
    width: 302px;
    height: 62px;
    background: transparent;
    @include fontLato;
    font-size: 18px;
    font-weight: 300;
    line-height: 36px;
    color: $colorPlaceholder;

    @include placeholder {
        color: $colorPlaceholder;
        @include fontLato;
        font-size: 18px;
        font-weight: 300;
        line-height: 36px;
    }

    @include medium {
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 14px;
    }

    @include small {
        margin-right: 0;
        width: 270px;
        flex-direction:column;
        font-size: 10px;
    }
}

.feedback__form-btn {
    text-transform: uppercase;
    border: none;
    background-color: $whiteBlue;
    color: $white;
    padding: 25px 75px;
    border-radius: 30px;
    font-size: 18px;
    @include fontExo;
    font-weight: 400;

    @include small {
        width: 270px;
        padding: 25px 0;
    }
}

// 
// 
// end feedback
// 
// 

// 
// 
// contacts
// 
// 



.contacts {
    background-color: $whiteBlue;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Exo 2', sans-serif;
    color: $white;


}



.contacts__title {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    width: 100%;
    text-align: center;

    @include small {
        font-size: 36px;
    }

    
}

.contacts-subtitle {
    width: 100%;
    text-align: center;
    margin: 0 0 66px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    
    @include medium {
        margin: 0 0 50px 0;
        padding: 0 10px;
    
    }
  
    @include small {
     font-size: 16px;
     line-height: 24px;
     padding: 0 60px;
     margin: 0 0 100px 0;
    }
}


.adress__list {
    padding-left: 100px;
    list-style: none;
    display: flex;
    align-self: center;
    right: 100%;
    height: 100px;
    

    @include medium {
        display: flex;
        flex-wrap: wrap;
        padding-left: 250px;
        width: 100%;
        
        
    }
    
    @media screen and (max-width: 700px){ 
        padding-left: 200px;
        height: 250px;
    }
    @include small {
        align-items: center;
        padding-left: 80px;
        height: 300px;

    }
}

.adress__list-item {
    width: 200px;
    position: relative;

    
    &:nth-child(1) {
        @include medium {
            order: 3;
            width: 100%;
            margin-top: 50px;
        }
    
     

    }

    &:nth-child(2) {
        @include medium {
            order: 1;
        }
    }
    &:nth-child(3) {
        @include medium {
            order: 2;
        }

        @include small {
            margin-bottom: 50px;
        }
    }
    
    &:not(:last-child) {
        margin-right: 110px;

        @include medium {
            margin-right: 50px;
        }
    }    

    
    @media screen and (max-width: 600px) {
        margin-bottom: 50px;
    }

    @include small {
        width: 100%;
        margin-bottom: 95px;
    }

    &:nth-child(1)::before{
        content: '';
        background-image: url(../img/location.png);
        position: absolute;
        background-size: cover;
        width: 80px;
        height: 80px;
        left: -50%;
        top: 25%;
        transform: translateY(-50%);
        display: block;

        @include medium {
          left: -100px;
          top: 0%;
        }

        @media screen and (max-width: 600px){
            width: 60px; 
            height: 60px;
            top: -50px;
            left: 15%;
        }

        @include small {
            width: 60px; 
            height: 60px;
            top: -50px;
            left: 20%;
        }
    }

    &:nth-child(2)::before{
        content: '';
        background-image: url(../img/tel.png);
        position: absolute;
        background-size: cover;
        width: 80px;
        height: 80px;
        left: -50%;
        top: 25%;
        transform: translateY(-50%);

        @include medium {
            left: -100px;
            top: 0%;
              
        }
        @media screen and (max-width: 600px){
            width: 60px; 
            height: 60px;
            top: -50px;
            left: 15%;
        }

        @include small {
            width: 60px; 
            height: 60px;
            top: -50px;
            left: 15%;
        }
    }

    &:nth-child(3)::before{
        content: '';
        background-image: url(../img/mail.png);
        position: absolute;
        background-size: cover;
        width: 80px;
        height: 80px;
        left: -50%;
        top: 25%;
        transform: translateY(-50%);
       
        @include medium {
            left: -100px;
            top: 0%;
            
            
            
            
        }
      
        @media screen and (max-width: 600px){
            width: 60px; 
            height: 60px;
            top: -50px;
            left: 15%;
        }

        @include small {
            width: 60px; 
            height: 60px;
            top: -50px;
            left: 15%;
        }
    }
}

.adress__list-item--descr {
    position: absolute;

    @include small {
        text-align: center;
        margin-right: 70px;
    }
    
}

.adress_list-item--link {
    text-decoration: none;
    color: $white;


    @include small {
        width: 240px;
        text-align: center;
    }
}

// 
// 
// end contacts
// 
// 



#map {
    width: 100%;
    height: 498px;
  
    
}

// 
// 
// footer
// 
// 



.footer {
    display: flex;
    justify-content: space-around;
    background-color: $semiBlue;
    color: $white;
    @include fontSans;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.05px;
    padding: 35px 0 35px 0;

    @include medium {
       width: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
    }
  
    @include small {
      width: 100%;
    }
}

.footer__company {
    @include medium {
        font-size: 14px;
        font-weight: 400;
        text-align: center;
     }
   
     @include small {
       width: 100%;
       padding: 0 51px 0 51px;
     }
}

.footer__develop {
    text-decoration: none;
    color: $white;
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;

}

.footer__developer-descr {
    margin: 0;
    padding: 0;
    color: $white;
    font-size: 14px;
    margin-right: 12px;
}

.footer__developer-img {
    width: 119px;
    height: 40px;
}