* {
  box-sizing: border-box;
}


html,
body {

  width: 100%;
  position: relative;
  @include medium {
    width: 100%;
    overflow-x: hidden;
  }

  @include small {
    width: 100%;
  }
}


.cntnr {
  width: 100%; 
  padding: 100px 0 100px 0;

  @include medium {
    padding: 70px 0 70px 0;
    
}

  @include small {
 
}
}


.p {
  margin: 0;
  padding: 0;
}

.section-title {
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
}

.section-subtitle {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Exo 2', sans-serif;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.ui-btn {
  @include fontExo;
  color: $white;
  font-weight: 400;
  text-transform: uppercase;
  background: transparent;
  border: none;
  padding: 25px 45px;
  outline: none;
  font-size: 18px;
  border: 3px solid $white;
  border-left: transparent;
  border-right: transparent;
  

  &:hover{
    cursor: pointer;
    border-left: 3px solid $white;
    border-right: 3px solid $white;
    transition: all 2ms ease-in-out;
  }
 

  

}


