$semiBlue: #0f4583;
$white: #ffffff;
$whiteBlue: #0296ea;
$semiGrey: #707070;
$semiBlack: #191919;
$semiWhite: #fffefe;


@font-face {
    font-family: 'mitrExtraLight';
    src: local('mitrExtraLight'),
    url('../fonts/mitr.extralight.ttf');
}