$semiGrey: #929292;

@font-face {
    font-family: 'PFDDP-Regular';
    src: local('PFDDP-Regular'),
    url('../fonts/PFDDP-Regular.ttf');
}

@font-face {
    font-family: 'PFDDP-Medium';
    src: local('PFDDP-Medium'),
    url('../fonts/PFDDP-Medium.ttf');
}
        
@font-face {
    font-family: 'PFDDP-Black';
    src: local('PFDDP-Black'),
    url('../fonts/PFDDP-Black.ttf');
}

@font-face {
    font-family: 'PFDDP-Bold';
    src: local('PFDDP-Bold'),
    url('../fonts/PFDDP-Bold.ttf');
}

@font-face {
    font-family: 'PFDDP-ExtraThin';
    src: local('PFDDP-ExtraThin.ttf'),
    url('../fonts/PFDDP-ExtraThin.ttf');
}

@font-face {
    font-family: 'PFDDP-Thin';
    src: local('PFDDP-Thin.ttf'),
    url('../fonts/PFDDP-Thin.ttf');
}

