@mixin small {
  @media screen and (min-width: 320px) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin fontSans {
  font-family: "sans-serif";
}

@mixin fontLato {
  font-family: 'Lato', sans-serif;
}

@mixin fontExo {
  font-family: 'Exo 2', sans-serif;
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }  
}